<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

    <!-- Chosen -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>

    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <title>The Trail</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron" id="jumbobg">
            <h1>Oregon Trail 2018</h1>

        </div>
        <div class="row">

            <div class="col-lg-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <strong>Character Your Character</strong>
                        </h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST" role="form">

                            <div class="form-group">
                                <h4><label for="">Name</label></h4>
                                <input type="text" class="form-control" id="name" placeholder="">
                            </div>

                            <!-- <div class="form-group">
                            <label for="">Gender</label>
                            <input type="text" class="form-control" id="role" placeholder="">
                        </div> -->


                            <h4>Select your gender.</h4>

                            <select class="chosen-select" data-placeholder="Choose a gender..." id="gender-question" style="width: 150px">
                                <option value=""></option>
                                <option value="male">male</option>
                                <option value="female">female</option>
                            </select>

                            <h4>Select your previous occupaton.</h4>
                            <select class="chosen-select" data-placeholder="Choose a previous occupation..." id="occupaton-question" style="width: 300px">
                                <option value=""></option>
                                <option value="banker">banker</option>
                                <option value="carpetner">carpetner</option>
                                <option value="farmer">farmer</option>
                            </select>

                        </form>
                        <br>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary btn-md" id="add-btn">
                                <span class="fa fa-fire"></span> Create Your Character</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>