.list-group-item {
  line-height: 2.5;
}

body {
  margin-top: 20px;
}

#jumbobg
{
  background-image: url("../images/table.jpg");
  opacity: 0.9;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  height: 620px;
  align-content: center;
}

#jumbosm
{
  background-image: url("../images/table.jpg");
  opacity: 0.9;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  height: 120px;
  align-content: center;
}

#footer {
  background-color: #000;
  color: #FFF;
  padding: 20px 0;
  
}

h2, h3{
  color: #FFF;
  text-shadow: 2px 2px 4px #000000;
  /*height: 180px;*/
}

#jumboVr{
  text-align: center;
  height: 180px;
}

#viewSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  font-weight: bold;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf0f1;
  margin-top: 50px;
}